.computer {
	  width: 93px;
	  height: 98px;
	  background: url(https://js.cx/clipart/computer.gif) no-repeat;
	  padding: 5px;
	  font-style: italic;
	}
.close__textarea {
	display: block;
	background: url(img/sprite-all.png);
	width: 13px;
	height: 13px;
	background-position: -378px -198px;
	top:0;
	right:0;
	position:absolute;
	z-index:10
}
	.computer-smile {
	  background: url(https://js.cx/clipart/computer-smile.gif) no-repeat;
	}

	.draggable {
	  cursor: pointer;
	}
	.create__block {
		width: 80%;
	}
	.create__block__left {
		float: left;
		width: 50%;
		height: 400px;
		background: blue;
	}
	.create__block__right__control {
		position: relative;
		float: right;
		width: 50%;
		height: 400px;
		background: yellow;
	}
	.create__block__right__control__image {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.create__block__right__control-add-element {
		cursor: pointer;
	}
	.create__block__right__control-add-element:hover {
		color: red;
	}
