.control-panel__control-value-down {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url;
	background: url(../img/sprite-all.png);
	background-position: -393px -197px;
	float: left;
	cursor: pointer;
}
.control-panel__control-value-up {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url;
	background: url(../img/sprite-all.png);
	background-position: -393px -184px;
	margin-left: 10px;
	float: left;
	margin-top: 1px;
	cursor: pointer;
}
.create__block__right__style-element {
	float: left;
}
.control-panel__control-color {
	margin: 5px;
	overflow: auto;
}
.control-panel__control-color__item {
	border: 0.5px solid grey;
	margin: 1px;
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.control-panel__control-color__list {
	list-style: none;
	display: inline;
}
.view__block {
	width: 150px;
	height: 17px;
	padding: 3px;
	position: absolute;
	top: 15px;
	left: 100px;
	cursor: pointer;
}
.view__block button {
	cursor: pointer;
}
.result__banner-block-close {
	display: block;
	width: 36px;
	height: 31px;
	position: absolute;
	top: -15px;
	right: -37px;
	background: url(../img/sprite-all.png);
	background-position: -69px -419px;
	cursor: pointer;
}
.result__banner-block {
	position: relative;
}
.modal-window {
	z-index: 50;
}
.instrument-control__upload__block-file {
	display: block;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	min-height: 150px;
	border: 0.5px solid darkkhaki;
	border-style: dotted;
}
.delete__block {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.5);
	border-top-left-radius: 160px;
	border-top-right-radius: 160px;
}
.main__place__elements__list {
  width: 150px;
  height: 700px;
  margin: 5px;
  background: #fafadd;
  box-shadow: 0 0 5px #26454a;
}
.info__block {
	box-sizing: border-box;
	padding: 4px;
}
.main__place__elements {
	padding: 5px;
	box-sizing: border-box;
}
.main__place__elements__list-items li {
	list-style: none;
	cursor: pointer;
	padding: 3px;
}
.view__block {
	width: 150px;
	height: 17px;
	padding: 3px;
	position: absolute;
	top: 15px;
	left: 100px;
	cursor: pointer;
}
.view__block button {
	cursor: pointer;
}
.result__banner-block-close {
	display: block;
	width: 36px;
	height: 31px;
	position: absolute;
	top: -15px;
	right: -37px;
	background: url(../img/sprite-all.png);
	background-position: -69px -419px;
	cursor: pointer;
}
.result__banner-block {
	position: relative;
}
.instrument-control__upload__block-file {
	display: block;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	min-height: 150px;
	border: 0.5px solid darkkhaki;
	border-style: dotted;
}
