.control-panel__control-value-down {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url;
	background: url(../img/sprite-all.png);
	background-position: -393px -197px;
	float: left;
	cursor: pointer;
}
.control-panel__control-value-up {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url;
	background: url(../img/sprite-all.png);
	background-position: -393px -184px;
	margin-left: 10px;
	float: left;
	margin-top: 1px;
	cursor: pointer;
}
.create__block__right__style-element {
	float: left;
}
.control-panel__control-color {
	margin: 5px;
	overflow: auto;
}
.control-panel__control-color__item {
	border: 0.5px solid grey;
	margin: 3px;
	float: left;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.control-panel__control-color__list {
	list-style: none;
	display: inline;
}
